%form{:action => '/register', :method => 'POST'}
  = 'Enter your Email Address: '
  %input{:type => 'text', :id => 'email', :name => 'email'}
  %br
  = 'Type a Password: '
  %input{:type => 'text', :id => 'password', :name => 'password'}
  %br
  %input{:type => 'submit'}