!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'content="text/html; charset=utf-8;'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/style.css"}
    %title="DiversIT"
  %body
    = haml :header
    - if @question
      .question
        = @question.body
      .answerbox
        - if @u
          .answerarea
            %form{:action => '/question/'+@question.id.to_s, :method => 'POST'}
              %input{:type => 'text', :name => 'response'}
              %input{:type => 'submit', :value => 'Answer!'}
        - else
          .menulink.container{:id => 'answernow'}
            %a{:href => '/register'}
              = 'Answer Now!'
    = haml :footer