!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'content="text/html; charset=utf-8;'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "styles.css"}
    %title="Login to DiversIT"
  %body
    = haml :header
    %form{:action => '/login', :method => 'POST'}
      = 'Enter your Email Address: '
      %input{:type => 'text', :id => 'email', :name => 'email'}
      %br
      = 'Type a Password: '
      %input{:type => 'text', :id => 'password', :name => 'password'}
      %br
      %input{:type => 'submit'}
    = haml :footer