!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'content="text/html; charset=utf-8;'}
    %title DiversIT: about
    %link{:href => "/css/github.css", :media => "screen", :rel => "stylesheet"}
  %body
    %a{:href => "http://github.com/FernFerret/diversit"}
      %img{:alt => "Fork me on GitHub", :src => "images/forkme.png", :style => "position: absolute; top: 0; right: 0; border: 0;"}
    #container
      .download
        ="<a href=\"http://github.com/FernFerret/diversit/zipball/master\"><img src=\"images/zip.png\" width=\"90\" border=\"0\" /></a>"
        %a{:href => "http://github.com/FernFerret/diversit/tarball/master"}
          %img{:border => "0", :src => "images/tar.png", :width => "90"}/
      %h1
        %a{:href => "http://github.com/FernFerret/diversit"} DiversIT
        %br
        %span.small
          ="by"
          %a{:href => "http://github.com/FernFerret"} Eric Stokes
          ="&"
          %a{:href => "http://github.com/kennygao"} Kenny Gao
      .description
        = "DiversIT is a web application that allows individuals to connect with others giving the ability go step outside their traditional social groups and interact in a more diverse way."
      %p 
        = "The world is a mosaic of unique individuals. It is easy, however, to take people's differences for granted. Many people have stereotypes and perceptions of others that conceal the truth about differences between them. In order to help people appreciate differences about one another, we designed DiversIT, which facilitates communication between all people by leveraging the power of the Internet. By centering discussion on a daily question, DiversIT establishes common ground through which people can begin interacting. This increased communication can lead to an improved understanding of each other. DiversIT was developed with user-centered design processes, incorporating potential users into every part of the design process."
      %h2 Authors
      %p
        Eric Stokes (fernferret@gmail.com)
        %br
        Kenny Gao (gaot@rose-hulman.edu)
        %br
        Tim Ekl (ekltl@gmail.com)
        %br
        Sarah Jabon (jabonsa@rose-hulman.edu)
        %br
        Joe Salisbury (salisbjm@rose-hulman.edu)
      %h2 Download
      %p
        You can download this project in either
        %a{:href => "http://github.com/FernFerret/diversit/zipball/master"} zip
        or
        %a{:href => "http://github.com/FernFerret/diversit/tarball/master"} tar
        formats.
      %p
        You can also clone the project with
        %a{:href => "http://git-scm.com"} Git
        by running:
        %pre $ git clone git://github.com/FernFerret/diversit
      .footer
        get the source code on GitHub :
        %a{:href => "http://github.com/FernFerret/diversit"} FernFerret/diversit